<div>
  <!-- button template comment -->
  <button id='{{id}}_button' type="button">Test value of Button</button> <input id='{{id}}_checkbox' type='checkbox' value='cb-test'>This is checkbox</input> <input id='{{id}}_input' value="Test value of input" />
  <p>text2: <span id='{{id}}_label' >Test value of label</span> </p>
</div>