<html>
  <head>
    <script language="javascript" type="text/javascript" src="static/js/jquery.js"> </script>

    {{! flot: }} <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="static/js/excanvas.min.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="static/css/examples.css">
    <script type="text/javascript" src="static/js/jquery.flot.min.js"></script>
    <script type="text/javascript" src="static/js/jquery.flot.pie.min.js"></script>
    
    <script type="text/javascript" src="socket.io/socket.io.js"></script>
    <script type="text/javascript" src="static/js/prelude-browser-min.js"></script>
    <script type="text/javascript" src="static/ic/weblib-browser.js"></script>
  </head>
<body>


<div class="entry">
  <h1>{{title}}</h1>
  <div class="body">
    {{body.a}}
  </div>
  {{> button id='test_button1'}}
  {{> button id='test_button2'}}
  {{> button id='test_button3'}}
</div>



    <h1 id="header" style="color:white">LiveScript is alive!</h1>

    <div style="float: right; width: 40%; margin: 10px; border: 1px solid yellowgreen; padding: 20px">
      <h3> Messages: </h3>
      <ul id="messages" ></ul>
    </div>

    <div  style="width: 50%; margin: 10px; border: 1px solid yellowgreen; padding: 20px">
      <p>Chat input: <input id="m" autocomplete="off" /> 
      <span id="submitbutton" style="border: 1px solid black; background-color: yellowgreen;">send</span>
      </p>
      <ul><li> 
        Write something, then press "enter" or click "send" text </li><li>
        Write a number between 0 and 100, it will show up in the grap screen in realtime</li>
      </ul>

      <p> Realtime inputs: (with 700 ms timeout) </p>
      <span> Realtime input1: </span><input id="realtime-input-1" class='realtime-input' /> <br /> 
      <span> Realtime input2: </span><input id="realtime-input-2" class='realtime-input' /><br /> 
      <span> Realtime input3: </span><input id="realtime-input-3" class='realtime-input' /><br /> 
    </div>
      
    <p>Test checkbox with collaboration:
      <span>[</span>
      <input id="test-cb-1" type="checkbox"  value="X" /> &lt;- Click here <span>]    [</span> 
      <input id="test-cb-2" type="checkbox"  value="Y" /> &lt;-Watch this <span>]    </span>
    </p>

    <div  style="width: 50%; margin: 10px; border: 1px solid yellowgreen; padding: 20px">
      <h2> Answer buttons with collaboration </h2>
      <ul>
        <li>Open this page in another tab/window/device </li>
        <li>Answer the questions in any page </li>
        <li>Selections would be propagated in realtime </li>
      </ul>

      <p> Answer to question#1: </p> 
      <div id='question-1' class='radiobox'>
        <span>[</span>
        <input type="checkbox"  value="A" />A <span>]    [</span>
        <input type="checkbox"  value="B" />B <span>]    [</span>
        <input type="checkbox"  value="C" />C <span>]    [</span>
        <input type="checkbox"  value="D" />D <span>]    [</span>
        <input type="checkbox"  value="E" />E <span>]    </span>
      </div>
      
      <p> Answer to question#2: </p> 
      <div id='question-2' class='radiobox'>
        <span>[</span>
        <input type="checkbox"  value="A" />A <span>]    [</span>
        <input type="checkbox"  value="B" />B <span>]    [</span>
        <input type="checkbox"  value="C" />C <span>]    [</span>
        <input type="checkbox"  value="D" />D <span>]    [</span>
        <input type="checkbox"  value="E" />E <span>]    </span>
      </div>
    </div>
    <p> -------------------- </p> 
    <h2> Realtime Graph </h2>
    <div id="demo-container" style="width:50%; heigth:50px"> <!-- width: 96% -> ios8 fix, more will cause crash -->
      <div id="placeholder1"  class="demo-placeholder" ></div>
      <div id="pietest" class="demo-placeholder"></div>
    </div>

  
    {{! ==================================== SCRIPTS ==================================== }}
    <script type='text/javascript' src="static/ic/webpage.js"></script>
    {{! =================================== /SCRIPTS ==================================== }}
  </body>
</html>